.header{
    display: flex;

}
.spacer {
    flex: 1 1 auto;
  }
span.title-group {
    margin-left: 32.6%;
    text-align: right;
} 
.header mat-elevation-z4{
    height: 20px;
}
.row{
    height: 30px;
}
